<aside class="siteRigrhSide">
    <div class="asideInner">
        <section class="banner I"><a href="#!"></a></section>
        <h3>categories</h3>
        <ul class="categories">
            <li><a href="#!">Американская короткошерстная кошка</a></li>
            <li><a href="#!">Американская короткошерстная кошка</a></li>
            <li><a href="#!">Американская короткошерстная кошка</a></li>
            <li><a href="#!">Американская короткошерстная кошка</a></li>
            <li><a href="#!">Американская короткошерстная кошка</a></li>
        </ul>
        <section class="banner II"><a href="#!"></a></section>
        <h3>most popular</h3>
        <ul class="popular">
            <li><a href="#!">some link</a></li>
            <li><a href="#!">some link</a></li>
            <li><a href="#!">some link</a></li>
            <li><a href="#!">some link</a></li>
            <li><a href="#!">some link</a></li>
        </ul>
        <section class="banner III"><a href="#!"></a></section>
    </div>
</aside>
