<aside class="siteRigrhSide">
    <% if(categories) { %>
    <div class="asideInner">
        <section class="banner I"><a href="#!"></a></section>
        <h3>категории</h3>
        <ul class="categories">
            <% categories.forEach(function(categorie){ %>
                <li><a href="#!"><%= categorie.title %></a></li>
            <% }) %>
        </ul>
        <section class="banner II"><a href="#!"></a></section>
        <h3>САМЫЙ ПОПУЛЯРНЫЙ</h3>
        <ul class="popular">
            <li><a href="#!">some link</a></li>
            <li><a href="#!">some link</a></li>
            <li><a href="#!">some link</a></li>
            <li><a href="#!">some link</a></li>
            <li><a href="#!">some link</a></li>
        </ul>
        <section class="banner III"><a href="#!"></a></section>
    </div>
    <% } %>
</aside>
