<section class="headerCarousel owl-carousel owl-theme">
    <section class="item">
        <figure><img src="./assets/imgs/124044lpr.jpg" alt="" title=""></figure>
        <div>
            <h2> <a href="">Бурманская кошка</a></h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p><a href="">read more</a>
        </div>
    </section>
    <section class="item">
        <figure><img src="./assets/imgs/124044lpr.jpg" alt="" title=""></figure>
        <div>
            <h2> <a href="">Бурманская кошка</a></h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p><a href="">read more</a>
        </div>
    </section>
    <section class="item">
        <figure><img src="./assets/imgs/124044lpr.jpg" alt="" title=""></figure>
        <div>
            <h2> <a href="">Бурманская кошка</a></h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p><a href="">read more</a>
        </div>
    </section>
</section>
