    <a class="Contactlink" href="/contact"></a>

    <footer>
        <section class="footerInner"><a class="footerLogo" href="/"><img src="./assets/imgs/cattaclub-footer-logo.png" alt="logo" title="blog.cattaclub.com"></a>
            <ul>
                <li>
                    <h3>Американский бобтейл</h3>
                </li>
                <li><a href="#!">Американский бобтейл</a></li>
                <li><a href="#!">Американский бобтейл</a></li>
                <li><a href="#!">Американский бобтейл</a></li>
            </ul>
            <ul>
                <li>
                    <h3>Американский бобтейл</h3>
                </li>
                <li><a href="#!">Американский бобтейл</a></li>
                <li><a href="#!">Американский бобтейл</a></li>
                <li><a href="#!">Американский бобтейл</a></li>
            </ul>
            <div class="socIcons"><a href="#!"><img src="./assets/imgs/facebook.png" alt="" title=""></a><a href="#!"><img src="./assets/imgs/instagram.png" alt="" title=""></a><a href="#!"><img src="./assets/imgs/google-plus.png" alt="" title=""></a><a href="#!"><img src="./assets/imgs/twitter.png" alt="" title=""></a><a href="#!"><img src="./assets/imgs/vk.png" alt="" title=""></a><a href="#!"><img src="./assets/imgs/pinterest.png" alt="" title=""></a>
            </div>
            <p>© <%= new Date().getFullYear() %></p>
        </section>
    </footer>

    <script type="text/javascript" src="./assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="./assets/js/functions.js"></script>
    <script type="text/javascript" src="./assets/js/lightbox.min.js"></script>
    <script type="text/javascript" src="./assets/js/owl.carousel.min.js"></script>
    </body>
</html>