    <script type="text/javascript" src="./assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="./assets/js/functions.js"></script>
    <script type="text/javascript" src="./assets/js/lightbox.min.js"></script>
    <script type="text/javascript" src="./assets/js/owl.carousel.min.js"></script>
    </body>
</html>