    <a class="Contactlink" href="/contact"></a>

    <footer>
        <section class="footerInner"><a class="footerLogo" href="/"><img src="/assets/imgs/cattaclub-footer-logo.png" alt="footer logo" title="blog.cattaclub.com"></a>

            <div class="socIcons"><a href="https://www.facebook.com/CattaClub/" target="_blank"><img src="/assets/imgs/facebook.png" alt="" title=""></a><a href="https://www.instagram.com/cattaclub/" target="_blank"><img src="/assets/imgs/instagram.png" alt="" title=""></a><a href="https://plus.google.com/u/0/b/115804387810276132115/" target="_blank"><img src="/assets/imgs/google-plus.png" alt="" title=""></a><a href="https://twitter.com/CattaClub" target="_blank"><img src="/assets/imgs/twitter.png" alt="" title=""></a><a href="https://vk.com/cattaclub" target="_blank"><img src="/assets/imgs/vk.png" alt="" title=""></a><a href="https://www.pinterest.com/cattaclub/" target="_blank"><img src="/assets/imgs/pinterest.png" alt="" title=""></a>
            </div>
            <p>© <%= new Date().getFullYear() %></p>
        </section>
    </footer>

    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/functions.js"></script>
    <script type="text/javascript" src="/assets/js/lightbox.min.js"></script>
    <script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
    </body>
</html>