<!doctype html>
<html>
    <head>
        <title>blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="./assets/css/responsive.css">
        <link rel="stylesheet" type="text/css" href="./assets/css/lightbox.min.css">
        <link rel="stylesheet" type="text/css" href="./assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" type="text/css" href="./assets/css/owl.carousel.min.css">
    </head>
    <body>
        <header>
            <section class="headerInner"><a class="mainLogo" href="/"><img src="./assets/imgs/cattaclub-logo.png" alt="logo" title="blog.cattaclub.com"></a>
                <form action="/search" method="get">
                    <input type="text" name="srch" placeholder="поиск">
                    <button type="submit">поиск</button>
                </form>
                <div class="socIcons"><a href="#!"><img src="./assets/imgs/facebook.png" alt="" title=""></a><a href="#!"><img src="./assets/imgs/instagram.png" alt="" title=""></a><a href="#!"><img src="./assets/imgs/google-plus.png" alt="" title=""></a><a href="#!"><img src="./assets/imgs/twitter.png" alt="" title=""></a><a href="#!"><img src="./assets/imgs/vk.png" alt="" title=""></a><a href="#!"><img src="./assets/imgs/pinterest.png" alt="" title=""></a>
                </div>
                <button class="asideButton" type="button"></button>
            </section>
        </header>
