<%- include('header'); %>

<%- include('carousel'); %>

<main>
    <section class="content">
        <section class="postPreview">
            <figure><img src="./assets/imgs/124044lpr.jpg" alt="" title=""></figure>
            <h2><a href="">Test</a></h2>
            <p>
                Американский бобтейл - порода короткохвостых кошек,
                выведенная североамериканскими фелинологами во
                второй половине прошлого века
            </p><a href="">read more</a>
        </section>
        <section class="postPreview">
            <figure><img src="./assets/imgs/124044lpr.jpg" alt="" title=""></figure>
            <h2><a href="">Test</a></h2>
            <p>
                Американский бобтейл - порода короткохвостых кошек,
                выведенная североамериканскими фелинологами во
                второй половине прошлого века
            </p><a href="">read more</a>
        </section>
        <section class="postPreview">
            <figure><img src="./assets/imgs/124044lpr.jpg" alt="" title=""></figure>
            <h2><a href="">Test</a></h2>
            <p>
                Американский бобтейл - порода короткохвостых кошек,
                выведенная североамериканскими фелинологами во
                второй половине прошлого века
            </p><a href="">read more</a>
        </section>
        <section class="postPreview">
            <figure><img src="./assets/imgs/124044lpr.jpg" alt="" title=""></figure>
            <h2><a href="">Test</a></h2>
            <p>
                Американский бобтейл - порода короткохвостых кошек,
                выведенная североамериканскими фелинологами во
                второй половине прошлого века
            </p><a href="">read more</a>
        </section>
        <section class="postPreview">
            <figure><img src="./assets/imgs/124044lpr.jpg" alt="" title=""></figure>
            <h2><a href="">Test</a></h2>
            <p>
                Американский бобтейл - порода короткохвостых кошек,
                выведенная североамериканскими фелинологами во
                второй половине прошлого века
            </p><a href="">read more</a>
        </section>
        <section class="postPreview">
            <figure><img src="./assets/imgs/124044lpr.jpg" alt="" title=""></figure>
            <h2><a href="">Test</a></h2>
            <p>
                Американский бобтейл - порода короткохвостых кошек,
                выведенная североамериканскими фелинологами во
                второй половине прошлого века
            </p><a href="">read more</a>
        </section>
        <section class="postPreview">
            <figure><img src="./assets/imgs/124044lpr.jpg" alt="" title=""></figure>
            <h2><a href="">Test</a></h2>
            <p>
                Американский бобтейл - порода короткохвостых кошек,
                выведенная североамериканскими фелинологами во
                второй половине прошлого века
            </p><a href="">read more</a>
        </section>
        <section class="postPreview">
            <figure><img src="./assets/imgs/124044lpr.jpg" alt="" title=""></figure>
            <h2><a href="">Test</a></h2>
            <p>
                Американский бобтейл - порода короткохвостых кошек,
                выведенная североамериканскими фелинологами во
                второй половине прошлого века
            </p><a href="">read more</a>
        </section>
        <section class="postPreview">
            <figure><img src="./assets/imgs/124044lpr.jpg" alt="" title=""></figure>
            <h2><a href="">Test</a></h2>
            <p>
                Американский бобтейл - порода короткохвостых кошек,
                выведенная североамериканскими фелинологами во
                второй половине прошлого века
            </p><a href="">read more</a>
        </section>
        <section class="postPreview">
            <figure><img src="./assets/imgs/124044lpr.jpg" alt="" title=""></figure>
            <h2><a href="">Test</a></h2>
            <p>
                Американский бобтейл - порода короткохвостых кошек,
                выведенная североамериканскими фелинологами во
                второй половине прошлого века
            </p><a href="">read more</a>
        </section>
        <ul class="pagination">
            <li><a href="#!"><img src="./assets/imgs/left-arrows.png" alt="" title=""></a></li>
            <li><a class="active" href="#!">1</a></li>
            <li><a class="active" href="#!">2</a></li>
            <li><a class="active" href="#!">3</a></li>
            <li><a class="active" href="#!">4</a></li>
            <li><a class="active" href="#!">5</a></li>
            <li><a href="#!"><img src="./assets/imgs/right-arrows.png" alt="" title=""></a></li>
        </ul>
    </section>
    <%- include('aside'); %>
</main>

<%- include('footer'); %>